<% if @profile.errors.any? %>
  <ul>
    <% @profile.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @profile, local: true do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :sector, 'Setor' %>
    <%= f.text_field :sector %>
  </div>
  <div>
    <%= f.label :region, 'Região' %>
    <%= f.text_field :region %>
  </div>
  <div>
    <%= f.label :company, 'Empresa' %>
    <%= f.text_field :company %>
  </div>
  <div>
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>
  </div>
  <%= f.submit 'Salvar' %>
<% end %>