<%= link_to 'Voltar', profiles_path %>

<h1><%= @profile.name %></h1>

<dl> 

  <dt><%= Profile.human_attribute_name(:name) %></dt> 
  <dd><%= @profile.name %></dd> 
  <dt><%= Profile.human_attribute_name(:sector) %></dt> 
  <dd><%= @profile.sector %></dd>
  <dt><%= Profile.human_attribute_name(:region) %></dt> 
  <dd><%= @profile.region %></dd>
  <dt><%= Profile.human_attribute_name(:company) %></dt> 
  <dd><%= @profile.company %></dd>
  <dt><%= Profile.human_attribute_name(:email) %></dt> 
  <dd><%= @profile.email %></dd> 
   
</dl>
