<%= link_to 'Voltar', root_path %>

<dl> 

<% @trading_logs.each do |td| %>

  <h1><%= td.product.name %></h1>

  <dt><%= Product.human_attribute_name(:name) %></dt> 
  <dd><%= td.product.name %></dd> 
  <dt><%= Product.human_attribute_name(:item_desc) %></dt> 
  <dd><%= td.product.item_desc %></dd>
  <dt><%= Product.human_attribute_name(:price) %></dt> 
  <dd><%= number_to_currency td.product.price %></dd> 
  <dt><%= Profile.human_attribute_name(:name) %></dt> 
  <dd><%= td.product.profile.name %></dd>
  <dt>Status</dt> 
  <dd><%= td.status %></dd>
  <br>
  <dt><%= link_to 'Ver detalhes', td %></dt>
<% end %>

</dl>
